.rating-box {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 12px;
  background: #fafafa;

  display: flex;
  flex-direction: column;
  gap: 6px;
}

.rating-box p {
  font-size: 0.9rem;
  color: #555;
}

.rating {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: flex-end;  
    gap: 4px;
    opacity: 1;
    margin-bottom: 4px;
  }
  
  .rating input {
    display: none;
    opacity: 1;
  }
  
  .rating label {
    /* float: right; */
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 22px;
    transition: color 0.3s;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: #ffc300;
    transform: scale(1.2);
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
    animation: bounce 0.5s ease-in-out alternate;
  }
  
  @keyframes bounce {
    to {
      transform: scale(1.3);
    }
  }